openapi: 3.1.0
info:
  title: Public Works Stakeholder Map API
  version: 0.4.2
  description: |
    公共工事ステークホルダー整理マップ API（Issue #37・OpenAPI 公開）。
    本 API は「事前協議候補の提示」を目的とし、正式な所管・許認可の要否・申請先を断定しません。
    全ての検索応答・画面には必須免責文が付与されます。
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://pwsm.mirai-dx-platform.com
    description: 本番（Cloudflare Access 保護・デモデータ）
  - url: http://localhost:8788
    description: ローカル検証（fixture モード）
tags:
  - name: public
    description: 公開 API（認証不要）
  - name: admin
    description: 管理 API（Cloudflare Access JWT + ロール必須・本番有効）
paths:
  /api/v1/health/live:
    get:
      tags: [public]
      summary: プロセス生存確認
      responses:
        "200":
          description: 常に ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok]
  /api/v1/health/ready:
    get:
      tags: [public]
      summary: 準備状態（DB 到達確認）
      responses:
        "200":
          description: DB 到達可
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok]
                  datasetVersion:
                    type: string
        "503":
          $ref: "#/components/responses/Problem"
  /api/v1/metadata:
    get:
      tags: [public]
      summary: データ版・ルール版・免責
      responses:
        "200":
          description: メタデータ
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Metadata"
  /api/v1/geocode:
    get:
      tags: [public]
      summary: 住所検索（国土地理院 住所検索 API・サーバー側呼出）
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 100
      responses:
        "200":
          description: 住所候補
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeocodeResponse"
        "400":
          $ref: "#/components/responses/Problem"
        "502":
          $ref: "#/components/responses/Problem"
  /api/v1/stakeholders/search:
    post:
      tags: [public]
      summary: 候補検索（地点・工事条件から関係機関候補を返す）
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
      responses:
        "200":
          description: 候補一覧（免責必須）
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
        "400":
          $ref: "#/components/responses/Problem"
  /api/v1/map/jurisdictions:
    get:
      tags: [public]
      summary: 候補機関の管轄区域（地図ハイライト用 GeoJSON）
      parameters:
        - name: organizationIds
          in: query
          required: true
          description: 機関 ID（カンマ区切り・1〜50 件）
          schema:
            type: string
            maxLength: 2000
      responses:
        "200":
          description: FeatureCollection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JurisdictionMap"
        "400":
          $ref: "#/components/responses/Problem"
  /api/v1/feedback:
    post:
      tags: [public]
      summary: フィードバック送信（個人識別情報は収集しない）
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeedbackRequest"
      responses:
        "202":
          description: 受付完了
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeedbackResponse"
        "400":
          $ref: "#/components/responses/Problem"
  /api/v1/audit-events:
    get:
      tags: [admin]
      summary: 監査イベント閲覧（admin のみ）
      security:
        - accessJwt: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: 監査イベント
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditEvents"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
  /api/v1/admin/sources:
    get:
      tags: [admin]
      summary: データソース台帳（editor 以上）
      security:
        - accessJwt: []
      responses:
        "200":
          description: ソース一覧
          content:
            application/json:
              schema:
                type: object
                properties:
                  sources:
                    type: array
                    maxItems: 500
                    items:
                      $ref: "#/components/schemas/DataSource"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
  /api/v1/admin/imports:
    get:
      tags: [admin]
      summary: 取込ステージング一覧（reviewer 以上）
      security:
        - accessJwt: []
      parameters:
        - name: state
          in: query
          schema:
            $ref: "#/components/schemas/ReviewState"
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: 取込レコード一覧
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImportList"
    post:
      tags: [admin]
      summary: 手動取込の登録（editor 以上・pending で追加）
      security:
        - accessJwt: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateImportRequest"
      responses:
        "201":
          description: 登録完了
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImportRecord"
        "400":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/Problem"
  /api/v1/admin/imports/{id}/review:
    post:
      tags: [admin]
      summary: レビュー操作（reviewer 以上・approve は admin のみ）
      security:
        - accessJwt: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewRequest"
      responses:
        "200":
          description: 更新後レコード
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImportRecord"
        "400":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/Problem"
        "409":
          $ref: "#/components/responses/Problem"
  /api/v1/admin/quality:
    get:
      tags: [admin]
      summary: 品質ダッシュボード（reviewer 以上）
      security:
        - accessJwt: []
      responses:
        "200":
          description: 品質指標
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QualityReport"
        "403":
          $ref: "#/components/responses/Problem"
  /api/v1/admin/feedback:
    get:
      tags: [admin]
      summary: フィードバック受付一覧（admin のみ・FR-017 対応）
      security:
        - accessJwt: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: フィードバック一覧
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminFeedbackResponse"
        "403":
          $ref: "#/components/responses/Problem"
components:
  securitySchemes:
    accessJwt:
      type: http
      scheme: bearer
      description: Cloudflare Access が注入する CF-Access-JWT-Assertion（RS256 検証済み）
  responses:
    Problem:
      description: RFC 9457 Problem Details
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
  schemas:
    Problem:
      type: object
      required: [type, title, status, code, detail, requestId]
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
          minimum: 400
          maximum: 599
        code:
          type: string
          enum: [INVALID_BODY, INVALID_COORDINATE, INVALID_RADIUS, INVALID_QUERY, PAYLOAD_TOO_LARGE, RATE_LIMITED, UNAUTHORIZED, FORBIDDEN, NOT_FOUND, CONFLICT, UPSTREAM_ERROR, INTERNAL_ERROR]
        detail:
          type: string
        requestId:
          type: string
    Location:
      type: object
      required: [lat, lon]
      properties:
        lat:
          type: number
          minimum: -90
          maximum: 90
        lon:
          type: number
          minimum: -180
          maximum: 180
    AdminFeedbackItem:
      type: object
      required: [id, category, status, message, sourceUrl, datasetVersion, createdAt]
      properties:
        id:
          type: string
          format: uuid
        category:
          type: string
          enum: [incorrect_info, broken_link, missing_org, ui_issue, other]
        status:
          type: string
          enum: [new, reviewed, resolved]
        message:
          type: string
        sourceUrl:
          type: string
          format: uri
          nullable: true
        datasetVersion:
          type: string
        createdAt:
          type: string
          format: date-time
    AdminFeedbackResponse:
      type: object
      required: [items, store]
      properties:
        items:
          type: array
          maxItems: 200
          items:
            $ref: "#/components/schemas/AdminFeedbackItem"
        store:
          type: string
          enum: [db, memory]
    SearchRequest:
      type: object
      required: [location]
      properties:
        location:
          $ref: "#/components/schemas/Location"
        radiusMeters:
          type: integer
          minimum: 0
          maximum: 5000
          default: 0
        workTypes:
          type: array
          items:
            type: string
          maxItems: 20
        assetTypes:
          type: array
          items:
            type: string
          maxItems: 10
        impactTypes:
          type: array
          items:
            type: string
          maxItems: 10
        purpose:
          type: string
          enum: [pre_bid, site_survey, construction_planning, pre_consultation]
    Evidence:
      type: object
      required: [title, url]
      properties:
        title:
          type: string
        url:
          type: string
          format: uri
        authority:
          type: string
          enum: [primary_official, official_catalog, secondary_open]
        sourceCheckedAt:
          type: string
          format: date-time
          nullable: true
    Candidate:
      type: object
      required: [organizationId, name, type, confidence, verificationState, reasons, precision, estimated, evidence]
      properties:
        organizationId:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [issuer, road_admin, river_admin, port_admin, police, prefecture, municipality, other]
        officeName:
          type: string
          nullable: true
        confidence:
          type: string
          enum: [A, B, C, D]
        verificationState:
          type: string
          enum: [unverified, source_checked, needs_inquiry, candidate, excluded, expired]
        reasons:
          type: array
          minItems: 1
          items:
            type: string
        precision:
          type: string
          enum: [official, administrative_unit, interpreted, estimated]
        estimated:
          type: boolean
        sourceCheckedAt:
          type: string
          format: date-time
          nullable: true
        freshnessDueAt:
          type: string
          format: date-time
          nullable: true
        evidence:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/Evidence"
    SearchResponse:
      type: object
      required: [queryId, datasetVersion, ruleVersion, disclaimerRequired, disclaimer, candidates]
      properties:
        queryId:
          type: string
        datasetVersion:
          type: string
        ruleVersion:
          type: integer
        disclaimerRequired:
          type: boolean
          enum: [true]
        disclaimer:
          type: string
        candidates:
          type: array
          items:
            $ref: "#/components/schemas/Candidate"
    Metadata:
      type: object
      required: [datasetVersion, ruleVersion, disclaimer, appEnv]
      properties:
        datasetVersion:
          type: string
        ruleVersion:
          type: integer
        lastPublishedAt:
          type: string
          format: date-time
          nullable: true
        disclaimer:
          type: string
        appEnv:
          type: string
          enum: [local, preview, staging, production]
    GeocodeResult:
      type: object
      required: [label, location]
      properties:
        label:
          type: string
        location:
          $ref: "#/components/schemas/Location"
    GeocodeResponse:
      type: object
      required: [results, attribution]
      properties:
        results:
          type: array
          maxItems: 10
          items:
            $ref: "#/components/schemas/GeocodeResult"
        attribution:
          type: string
    JurisdictionMap:
      type: object
      required: [type, datasetVersion, features]
      properties:
        type:
          type: string
          enum: [FeatureCollection]
        datasetVersion:
          type: string
        features:
          type: array
          maxItems: 500
          items:
            type: object
            properties:
              type:
                type: string
                enum: [Feature]
              properties:
                type: object
                required: [organizationId, organizationName, precision, estimated]
                properties:
                  organizationId:
                    type: string
                  organizationName:
                    type: string
                  assetName:
                    type: string
                    nullable: true
                  precision:
                    type: string
                  estimated:
                    type: boolean
              geometry:
                type: object
                nullable: true
    FeedbackRequest:
      type: object
      required: [category, message]
      properties:
        category:
          type: string
          enum: [incorrect_info, broken_link, missing_org, ui_issue, other]
        message:
          type: string
          minLength: 10
          maxLength: 2000
        sourceUrl:
          type: string
          format: uri
        datasetVersion:
          type: string
    FeedbackResponse:
      type: object
      required: [id, status, receivedAt, reference]
      properties:
        id:
          type: string
        status:
          type: string
          enum: [received]
        receivedAt:
          type: string
          format: date-time
        reference:
          type: string
    ReviewState:
      type: string
      enum: [pending, in_review, approved, rejected, quarantined]
    ReviewAction:
      type: string
      enum: [start_review, approve, reject, quarantine, reopen]
    ReviewRequest:
      type: object
      required: [action]
      properties:
        action:
          $ref: "#/components/schemas/ReviewAction"
        note:
          type: string
          maxLength: 1000
    CreateImportRequest:
      type: object
      required: [sourceId, entityKind, rawPayload]
      properties:
        sourceId:
          type: string
        entityKind:
          type: string
          enum: [organization, office, jurisdiction, contact_point]
        rawPayload:
          type: object
          additionalProperties: true
    ImportRecord:
      type: object
      required: [id, sourceId, entityKind, rawPayload, qualityFlags, reviewState, createdAt, updatedAt]
      properties:
        id:
          type: string
        sourceId:
          type: string
        sourceName:
          type: string
          nullable: true
        entityKind:
          type: string
          enum: [organization, office, jurisdiction, contact_point]
        rawPayload:
          type: object
          additionalProperties: true
        normalizedPayload:
          type: object
          additionalProperties: true
          nullable: true
        qualityFlags:
          type: array
          items:
            type: string
        reviewState:
          $ref: "#/components/schemas/ReviewState"
        reviewerNote:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    ImportList:
      type: object
      required: [records]
      properties:
        records:
          type: array
          maxItems: 200
          items:
            $ref: "#/components/schemas/ImportRecord"
    DataSource:
      type: object
      required: [id, name, publisher, baseUrl, authority, format, fetchMode, ttlDays, active]
      properties:
        id:
          type: string
        name:
          type: string
        publisher:
          type: string
        baseUrl:
          type: string
          format: uri
        authority:
          type: string
          enum: [primary_official, official_catalog, secondary_open]
        format:
          type: string
        fetchMode:
          type: string
          enum: [manual, scheduled, api]
        ttlDays:
          type: integer
          minimum: 1
        licenseText:
          type: string
          nullable: true
        licenseUrl:
          type: string
          format: uri
          nullable: true
        active:
          type: boolean
        lastFetchedAt:
          type: string
          format: date-time
          nullable: true
        lastFetchResult:
          type: string
          enum: [success, failed, skipped]
          nullable: true
        lastErrorCode:
          type: string
          nullable: true
    QualityReport:
      type: object
      required: [generatedAt, datasetVersion, sources, published, freshness, evidence, estimatedJurisdictions, imports]
      properties:
        generatedAt:
          type: string
          format: date-time
        datasetVersion:
          type: string
        sources:
          type: object
          properties:
            total:
              type: integer
            active:
              type: integer
            missingLicense:
              type: integer
        published:
          type: object
          properties:
            organizations:
              type: integer
            jurisdictions:
              type: integer
        freshness:
          type: object
          properties:
            overdue:
              type: integer
            withinTtl:
              type: integer
        evidence:
          type: object
          properties:
            withEvidence:
              type: integer
            missingEvidence:
              type: integer
        estimatedJurisdictions:
          type: integer
        imports:
          type: object
          properties:
            pending:
              type: integer
            in_review:
              type: integer
            approved:
              type: integer
            rejected:
              type: integer
            quarantined:
              type: integer
    AuditEvent:
      type: object
      required: [id, occurredAt, actor, action, targetKind, result, correlationId, metadata]
      properties:
        id:
          type: string
        occurredAt:
          type: string
          format: date-time
        actor:
          type: string
        action:
          type: string
        targetKind:
          type: string
        result:
          type: string
          enum: [success, failure, denied]
        correlationId:
          type: string
        metadata:
          type: object
          additionalProperties: true
    AuditEvents:
      type: object
      required: [events, store]
      properties:
        events:
          type: array
          maxItems: 200
          items:
            $ref: "#/components/schemas/AuditEvent"
        store:
          type: string
          enum: [db, memory]
